body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    /* vh of vw is 1% van de hoogte of breedte */
    min-height: 200vh;
    max-width: 80vw;
    padding-top: 2vh;
    padding-left: 20vw;
    /* side scrolling uit */
    overflow-x: hidden;
}

header{
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 0.5em;
}

ul{
    /* haal de bullets weg */
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}


/* source: https://css-tricks.com/pure-css-horizontal-scrolling/ */
/* source */
section {
    max-width: 81vw;
}
.horizontal_scroll_wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 90vw;
    padding: 2em;
    gap: 0.5em;
    background-color: #f0f0f0;

    /* wel links rechts scrollen, maar niet naar boven en beneden */
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;

    border-radius: 5px;
    border: 2px solid black;
}
.student {
    background-color: aliceblue;
    box-sizing: border-box;
    height: 20em;
    width: 15em;
    padding: 0.5em;

    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
/* vergroot de kaart waarover je hover */
.student:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(207, 219, 245);
    border: 2px solid black;
}

.profile_picture {
    border-radius: 50%;
    margin-top: 1em;

    max-width: 5em;
    height: 5em;
}


.collage {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    grid-template-rows: repeat(4, 1fr);
    /* grid indelen */
    grid-template-areas:
    /* title */
    /* "a a a a a a" */
    /* foto hokjes */
    "f f e e g g"
    "h h e e i i"
    "j j l l k k"
    "j j m m k k"
    ;
    background-color: #f0f0f0;
    padding: 10px;
    gap: 5px;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;

    @media (max-width: 600px) {
        grid-template-areas:
        /* title */
        "a a"
        /* foto hokjes */
        "e e"
        "f f"
        "g g"
        "h h"
        "i i"
        "j j"
        "k k"
        "l l"
        "m m"	
        ;
    }
}

/* border maken om te zien hoe de vakken eruit zien */
.area {
    border-radius: 5px;
    border: 2px solid black;
    list-style-type: none;
    height: 100%;
}

/* image neemt alle ruimte in de grid cell */
img {
    width: 26vw;
    height: 100%;
}
.area1 {
    grid-area: e;
}
.area2 {
    grid-area: f;
}
.area3 {
    grid-area: g;
}
.area4 {
    grid-area: h;
}
.area5 {
    grid-area: i;
}
.area6 {
    grid-area: j;
}
.area7 {
    grid-area: k;
}
.area8 {
    grid-area: l;
}
.area9 {
    grid-area: m;
}
