header{
    height: 100px;
    background-color: #c8da88;
    display: flex;
    align-items: center;
    padding: 0 30px;
    a{
        font-weight: bold;
        font-size: 20px;
    }
    nav{
        margin-left: auto;
        ul{
            list-style-type: none;
            li{
                a{
                    
                }
            }  
        }

    }
}