body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", system-ui; /*font meegeven */
    font-weight: 400;
    font-style: normal;
}

h1,h2{
    font-weight: 600;
    font-style: bold;
}

h3,h4,h5{
    font-weight: 500;
    font-style: medium;
}

ul {
    list-style: none;
    padding: 0px;
}


header{
    background-color: #25167a;
    width: 100%;
    height: 15vh;
}

nav{ /*navigatie container van de linkjes */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.nav-item{
    text-decoration: none;
    color: #eee;
}

.swiper {
    margin-top: 10vh ;
    margin-bottom: 10vh;
    max-width: 90%;
    overflow: visible;
}

.swiper  a{
    color: #eee;
    text-decoration: underline;
}

.swiper .swiper-container {
    height: 30em;
    overflow: hidden;
    padding: 5em 0;
}

.swiper .swiper-container .caroussel_people .swiper-slide { /* de kaartjes stylen die niet actief zijn */
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    box-sizing: border-box;
    display: flex;
    transition: 0.5s ease;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper .swiper-container .caroussel_people .swiper-slide figure { /* container van img stylen*/
    border-radius: 50%;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
} 

.swiper .swiper-container .caroussel_people .swiper-slide figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
}

.swiper .swiper-container .caroussel_people .swiper-slide figure:hover img {
    transform: scale(1.5);
}

.swiper .swiper-container .caroussel_people .swiper-slide .figcaption {
    text-align: center;
    padding-bottom: 20px;
}

.swiper .swiper-button-prev {
    left: unset;
    right: calc(100% + 15px);
}

.swiper .swiper-button-next {
    right: unset;
    left: calc(100% + 15px);
}

.campus{
    background-color: #25167a;
}

.grid-container{
    width: 90%;
    margin: auto;
}

.campus-grid { /*grid opstellen van locaties*/
    width: 90%;
    margin: auto;
    display: grid;
    border-radius: 0.8em;
    padding: 0.1em;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    /* 6 kolommen op grotere schermen */
    grid-template-rows: repeat(4, 1fr);
    gap: 0.1em;
}

.campus-grid li { /*achtergrond foto stlyen*/
    border-radius: 0.3em;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(26, 44, 211, 0.16);
    background-position: 50% 50%;
    height: 100%;
    width: 100%;

}

.campus-grid li:hover, .parent li:active{
    box-shadow: inset 0 0 0 1000px rgba(26, 26, 26, 0.421);
}

.div1 { /*locatie aangevebn en achtergrond foto plaatsen*/
    grid-area: 1 / 1 / 3 / 3;
    background: url(images/benno_premselahuis.jpg);
}

.div2 {
    grid-area: 1 / 3 / 2 / 5;
    background: url(images/cafe-ko.jpg);
}

.div3 {
    grid-area: 2 / 3 / 3 / 5;
    background: url(images/cafe_fest.jpg);
}

.div4 {
    grid-area: 1 / 5 / 3 / 7;
    background: url(images/spar_hva_campus_portrait.jpg);
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
    background: url(images/speeltuin_1.jpg);
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
    background: url(images/wibauthuis.jpg);
}

.div7 {
    grid-area: 4 / 1 / 5 / 3;
}

.div8 {
    grid-area: 3 / 3 / 5 / 5;
}

.div9 {
    grid-area: 3 / 5 / 4 / 7;
}

.div10 {
    grid-area: 4 / 5 / 5 / 7; 
}

@media (min-width: 900px) {
    .swiper .swiper-container .caroussel_people .swiper-slide-active { /*actieve slider*/
        transform: scale(1.2);
        background-color: rgba(36, 6, 119, 1);
        color: #eee;
        z-index: 9;
    }

    .caroussel_people >:not(.swiper-slide-active, .swiper-slide-next, .swiper-slide-prev){
        transform: scale(0.8);
    }
}


/* Media query voor mobiele apparaten (max breedte 768px) */
@media (max-width: 1100px) {

    .swiper {
        max-width: 70%;
    }
    
    .campus-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 140vh;
    }
/*nieuwe locaties grid  voor op mobiel*/
    .div1 { grid-area: 1 / 1 / 3 / 2; }

    .div2 { grid-area: 1 / 2 / 2 / 3; }

    .div3 { grid-area: 2 / 2 / 3 / 3; }

    .div4 { grid-area: 3 / 2 / 5 / 3; }

    .div5 { grid-area: 3 / 1 / 4 / 2; }

    .div6 { grid-area: 4 / 1 / 5 / 2; }

    .div7 { grid-area: 5 / 2 / 6 / 3; }

    .div8 { grid-area: 6 / 2 / 7 / 3; }

    .div9 { grid-area: 5 / 1 / 8 / 2; }

    .div10 { grid-area: 7 / 2 / 8 / 3; }
}
